<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/css/emp_car_regist.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Emp_Cars</title>
    <link rel="stylesheet" href="/css/emp_car_regist.css">

</head>
<body>
    <div id="wrapper" class="">
        <%- include('./emp_header.ejs'); %>
        <input type="hidden" name="emp-cars" id="emp-cars" ref="cars" value="<%  result %>">
        <div class="row">
            <!-- 左部分 -->
            <div class="col-3">
                <%- include('./car_left.ejs'); %>
            </div>
            <div class="col-9">
                <div class="d-flex justify-content-center">
                    <a href="/emp/car/regist">
                        <input class="btn btn-info" type="button" value="車両登録">
                    </a>
                </div>
                <div class="row row-cols-4">
                    <% for (var car of result) {%>
                        <div class="card m-3">
                            <div class="card-body">
                                <p><img src="/images/car-<%= car.car_no%>.jpg" width="" height="" alt="" class="card-img-top"></p>
                                <h5 class="card-title"><%=  car.car_name %> </h5>
                                <p class="card-text"><%=  car.grade %> </p>
                                <p class="card-text"><%=  car.outer_color %> </p>
                                <a href="/emp/car/<%= car._id %>" class="btn btn-primary">詳しくはこちら</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
            </div>
        </div><!-- .row -->
    </div>
</body>
</html>