<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/css/common.css' />
  <link rel='stylesheet' href='/css/bootstrap.min.css' />
  <title>オークション</title>
</head>

<body>
  <div id="wrapper">
    <%- include('./emp_header.ejs'); %>
    <h1>おめでとうございます</h1>    
    <p>落札しました</p>
  </div>
  <!-- <input type="hidden" name="auction_id" value="<%= auction_id %>">
  <input type="hidden" name="car_id" value="<%= car_id %>">
  <input type="hidden" name="end_date" value="<%= auction_end_time %>">
  <input type="hidden" name="user_id" value="<%= user_id %>">
  <input type="hidden" name="user_name" value="<%= user_name %>"> -->
  <script src="/js/user_auction_auctionid_bit.js"></script>
</body>

</html>